@import "../../styles/variables";

.wrap {
  @include FONT-24-32;

  .tag {
    @extend %FONT-16-22;
    font-weight: 400;
    padding-right: 16px;
    padding-left: 16px;

    &.primary {
      background: $color-primary;
      color: $color-white;
    }

    &.secondary {
      background: $color-info;
      color: $color-white;
    }
  }
}