@import "../../styles/variables";

.wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;

  .pagination {
    li {
      margin-left: 4px;
      margin-right: 4px;

      a, span {
        @extend %FONT-16-22;
        border-radius: 100% !important;
        height: 40px;
        width: 40px;
        padding: 9px 0 !important;
        text-align: center;
        border: 0 !important;
        color: $color-text-secondary;
        background: transparent;
        outline: none !important;
        box-shadow: none !important;

        &:hover {
          background: $color-light-2;
        }
      }

      &:first-child, &:last-child {
        a, span {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          border-radius: 100% !important;
          background: $color-light-2;

          img {
            display: block;
          }

          &:hover {
            background: $color-light-3;
          }
        }
      }

      &.active {
        a, span {
          background: $color-primary !important;
        }
      }
    }
  }
}