@import "../../styles/variables";

.wrap {
  margin-bottom: 16px;
}

.dropdown {
  & > button {
    @extend %FONT-16-22;
    cursor: pointer;
    border: 0;
    background: transparent !important;
    color: $color-dark !important;

    &:after {
      margin-left: 8px;
    }

    &:hover {
      background: transparent !important;
    }
  }

  & > div {
    right: 0 !important;
    left: 0 !important;
  }

  &.button > button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    height: 48px;
    padding-left: 16px;
    padding-right: 16px;
    background: $color-light !important;
    width: 100%;
    text-align: left;

    &:hover {
      background: lighten($color-light, 1%) !important;
    }
  }

  &.text > button {
    height: auto;
    padding-left: 0;
    padding-right: 0;
    background: transparent;
    border: none !important;
    box-shadow: none !important;
  }
}

.item {
  background: $color-white !important;
  color: $color-dark !important;

  &:hover {
    background: $color-light !important;
  }

  &.active {
    background: $color-primary !important;
    color: $color-white !important;
  }
}