@import "../../styles/variables";

@media screen and (max-width: $bp-1) {
  .table {
    tr > th:nth-child(3),
    tr > td:nth-child(3) {
      display: none;
    }
  }
}

@media screen and (max-width: $bp-2) {
  .table {
    tr > th:nth-child(4),
    tr > td:nth-child(4) {
      display: none;
    }
  }
}

@media screen and (max-width: $bp-3) {
  .table {
    tr > th:nth-child(1),
    tr > td:nth-child(1) {
      display: none;
    }

    tr > th:nth-child(5),
    tr > td:nth-child(5) {
      //display: none;
      text-align: right;
    }
  }
}