@import "../../styles/variables";

.avatar {
  @extend %FONT-16-22;
  height: 32px;
  width: 32px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  border-radius: 100%;
  background: $color-primary-light;
  color: $color-primary;
}